<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Phoenix</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../admin/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../admin/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../admin/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../admin/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../../../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../admin/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="../admin/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="../admin/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
</head>

<body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container-fluid px-0" data-layout="container">
            {{>admin-sidenav}}
            {{>admin-vertical-nav}}
            <div class="content">
                <nav class="mb-2" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
                        <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
                        <li class="breadcrumb-item active">Default</li>
                    </ol>
                </nav>
                <div class="row g-3 flex-between-center mb-5">
                    <div class="col-auto">
                        <h2 class="mb-2">COUPONS</h2>
                        <h5 class="text-700 fw-semi-bold">Create and manage coupons for the customers</h5>
                    </div>
                    <div class="col-auto"><button class="btn btn-primary mb-2 mb-sm-0" data-bs-toggle="modal"
                            data-bs-target="#addCoupon"><i class="fa fa-plus"></i> CREATE A COUPON</button>
                    </div>
                </div>
                <ul class="nav nav-links mb-3 mb-lg-2 mx-n3">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">All <span
                                class="text-700 fw-semi-bold">(68817)</span></a></li>

                </ul>
                <div id="products"
                    data-list='{"valueNames":["couponName","couponCode","discPercentage","eligibility","createdAt","expirydate"],"page":10,"pagination":true}'>
                    <div class="mb-4">
                        <div class="row g-3">
                            <div class="col col-xl-auto">
                                <div class="search-box w-100" style="max-width:30rem;">
                                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                                        <input class="form-control form-control search-input search" type="search"
                                            placeholder="Search products" aria-label="Search" />
                                        <span class="fas fa-search search-box-icon"></span>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div
                            class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
                            <div class="table-responsive scrollbar mx-n1 px-1">
                                <table class="table fs--1 mb-0">
                                    <thead>
                                        <tr>
                                            <th class="white-space-nowrap fs--1 align-middle ps-0">
                                            </th>
                                            <th class="sort white-space-nowrap align-middle" scope="col"
                                                style="min-width:350px;" data-sort="couponName">COUPON NAME</th>
                                            <th class="sort align-middle" scope="col" data-sort="couponCode"
                                                style="width:80px;">COUPON CODE</th>
                                            <th class="sort align-middle" scope="col" data-sort="discPercentage"
                                                style="min-width:100px;">DISCOUNT PERCENTAGE</th>
                                            {{!-- <th class="sort align-middle" scope="col" data-sort="eligibility"
                                                style="width:300px;">ELIGIBLE USERS</th> --}} 
                                                
                                            {{!-- <th class="sort align-middle fs-0 text-center" scope="col"></th> --}}
                                            <th class="sort align-middle" scope="col" data-sort="eligibility"
                                                style="width:300px;">USED COUNT</th> 
                                            <th class="sort align-middle" scope="col" data-sort="createdAt"
                                                style="width:200px;">PUBLISHED ON</th>
                                            <th class="sort align-middle" scope="col" data-sort="expiryDate"
                                                style="width:250px;">EXPIRES ON</th>
                                            <th class="sort text-end align-middle" scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="list" id="table-latest-review-body">
                                        {{#each coupons}}
                                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                            <td class="fs--1 align-middle ps-0">
                                                <div class="form-check mb-0 fs-0"><input class="form-check-input"
                                                        type="checkbox" /></div>
                                            </td>
                                            <td class="align-middle white-space-nowrap py-0">{{this.couponName}}</td>
                                            <td class="product align-middle"><a class="fw-semi-bold mb-0"
                                                    href="#!">{{this.couponCode}}</a></td>
                                            <td class="price align-middle white-space-nowrap text-end fw-bold text-700">
                                                {{this.discPercentage}}</td>
                                            <td
                                                class="category align-middle white-space-nowrap text-600 fs--1 ps-4 fw-semi-bold">
                                                {{this.usedCount}}</td>
                                            {{!-- <td class="tags align-middle review pb-2" style="min-width:225px;">10
                                            </td> --}}
                                            {{!-- <td class="align-middle review fs-0 text-center"><span
                                                    class="far fa-star text-warning"></span></td> --}}
                                            <td class="vendor align-middle text-start fw-semi-bold"><a
                                                    href="#!">{{formatString this.createdAt}}</a></td>
                                            <td class="time align-middle white-space-nowrap text-600">{{formatString
                                                this.expiryDate}}
                                            </td>
                                            <td class="align-middle white-space-nowrap text-end pe-0">
                                                <div class="position-relative">
                                                    <div class="hover-actions">
                                                        <a class="btn btn-sm btn-phoenix-secondary me-1 fs--2"
                                                            href=""><span class="fas fa-check"></span></a>
                                                        <a class="btn btn-sm btn-phoenix-secondary fs--2" href=""><span
                                                                class="fas fa-trash"></span></a>
                                                    </div>
                                                </div>
                                                <div class="font-sans-serif btn-reveal-trigger"><button
                                                        class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                                                        type="button" data-bs-toggle="dropdown" data-boundary="window"
                                                        aria-haspopup="true" aria-expanded="false"
                                                        data-bs-reference="parent"><span
                                                            class="fas fa-ellipsis-h fs--2"></span></button>
                                                    <div class="dropdown-menu dropdown-menu-end py-2"><a
                                                            class="dropdown-item" href="#!">View</a><a
                                                            class="dropdown-item" href="#!">Export</a>
                                                        <div class="dropdown-divider"></div><a
                                                            class="dropdown-item text-danger"
                                                            href="/admin/deleteProduct/{{this._id}}">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                                <div class="col-auto d-flex">
                                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                                        data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!"
                                        data-list-view="*">View all<span class="fas fa-angle-right ms-1"
                                            data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none"
                                        href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1"
                                            data-fa-transform="down-1"></span></a>
                                </div>
                                <div class="col-auto d-flex"><button class="page-link" data-list-pagination="prev"><span
                                            class="fas fa-chevron-left"></span></button>
                                    <ul class="mb-0 pagination"></ul><button class="page-link"
                                        data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- <footer class="footer position-absolute">
                    <div class="row g-0 justify-content-between align-items-center h-100 mb-3">
                        <div class="col-12 col-sm-auto text-center">
                            <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span
                                    class="d-none d-sm-inline-block"></span><span class="mx-1">|</span><br
                                    class="d-sm-none" />2022 &copy; <a href="https://themewagon.com">Themewagon</a></p>
                        </div>
                        <div class="col-12 col-sm-auto text-center">
                            <p class="mb-0 text-600">v1.2.0</p>
                        </div>
                    </div>
                </footer> --}}
            </div>
        </div>
    </main><!-- ===============================================-->

    {{!-- modal.... --}}
    <div class="modal fade" id="addCoupon" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add a coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{!-- modal body --}}
                    <form action="/admin/couponManagement" method="post" id="CouponForm">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="default-form-box">
                                        <label>Coupon Name <span>*</span></label>
                                        <input type="text" name="couponName" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="default-form-box">
                                        <label>Coupon code <span>*</span></label>
                                        <input type="text" name="couponCode" class="form-control">
                                    </div>
                                </div>

                                <div class="col-12 col-md-12">
                                    <div class="">
                                        <label>Description</label>
                                        <textarea name="desc" id="" cols="30" rows="10" class="form-control"></textarea>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Expires On<span>*</span></label>
                                        <input type="date" name="expiryDate" class="form-control">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Discount Percentage<span>*</span></label>
                                        <input name="discountPercentage" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Minimum Spend<span>*</span></label>
                                        <input type="text" name="minAmount" class="form-control">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> CREATE
                                COUPON</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--    End of Main Content-->
        <!-- ===============================================-->



        <!-- ===============================================-->
        <!--    JavaScripts-->
        <!-- ===============================================-->
        <script src="../admin/vendors/popper/popper.min.js"></script>
        <script src="../admin/vendors/bootstrap/bootstrap.min.js"></script>
        <script src="../admin/vendors/anchorjs/anchor.min.js"></script>
        <script src="../admin/vendors/is/is.min.js"></script>
        <script src="../admin/vendors/fontawesome/all.min.js"></script>
        <script src="../admin/vendors/lodash/lodash.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
        <script src="../admin/vendors/list.js/list.min.js"></script>
        <script src="../admin/vendors/feather-icons/feather.min.js"></script>
        <script src="../admin/vendors/dayjs/dayjs.min.js"></script>
        <script src="../admin/assets/js/phoenix.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>

        </script>
</body>

</html>