<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>Phoenix</title>

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="../admin/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../admin/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../admin/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="../admin/assets/img/favicons/favicon.ico">
  <link rel="manifest" href="../admin/assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="../admin/assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">

  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link href="../admin/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
  <link href="../admin/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
  
</head>

<body>
  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <div class="container-fluid px-0" data-layout="container">
      {{>admin-sidenav}}
      {{>admin-vertical-nav}}
      <div class="content">
        <nav class="mb-2" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
            <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
            <li class="breadcrumb-item active">Default</li>
          </ol>
        </nav>
        <div class="mb-9">
          <div class="row g-3 mb-4">
            <div class="col-auto">
              <h2 class="mb-0">Orders</h2>
            </div>
          </div>
          <ul class="nav nav-links mb-3 mb-lg-2 mx-n3">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">All <span
                  class="text-700 fw-semi-bold">({{orderLength}})</span></a></li>
            {{#each paymentStatus}}
            {{#compareStrings this.paymentStatus 'pending'}}
            <li class="nav-item"><a class="nav-link" href="#">Pending payment<span
                  class="text-700 fw-semi-bold">({{this.occurrence}})</span></a></li>
            {{/compareStrings}}
            {{/each}}

            {{#each paymentStatus}}
            {{#compareStrings this.paymentStatus 'fulfilled'}}
            <li class="nav-item"><a class="nav-link" href="#">Completed <span
                  class="text-700 fw-semi-bold">({{this.occurrence}})</span></a></li>
            {{/compareStrings}}
            {{/each}}

            {{#each paymentStatus}}
            {{#compareStrings this.paymentStatus 'failed'}}
            <li class="nav-item"><a class="nav-link" href="#">Failed<span
                  class="text-700 fw-semi-bold">({{this.occurrence}})</span></a></li>
            {{/compareStrings}}
            {{/each}}
            <li class="nav-item"><a class="nav-link" href="#">Refunded<span class="text-700 fw-semi-bold">(0)</span></a>
            </li>



          </ul>
          <div id="orderTable"
            data-list='{"valueNames":["order","total","customer","payment_status","fulfilment_status","delivery_type","date"],"page":10,"pagination":true}'>
            <div class="mb-4">
              <div class="row g-2">
                <div class="col col-xl-auto">
                  <div class="search-box w-100" style="max-width:30rem;">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input
                        class="form-control form-control search-input search" type="search" placeholder="Search orders"
                        aria-label="Search" />
                      <span class="fas fa-search search-box-icon"></span>
                    </form>
                  </div>
                </div>
                <div class="col-auto scrollbar overflow-hidden-y">
                  <div class="btn-group position-static" role="group">
                    <div class="btn-group position-static"><button class="btn btn-phoenix-secondary px-7 flex-shrink-0"
                        type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                        aria-expanded="false" data-bs-reference="parent"> Payment status<span
                          class="fas fa-angle-down ms-2"></span></button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                          <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <div class="btn-group position-static"><button
                        class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button"
                        data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false"
                        data-bs-reference="parent"> Fulfilment status<span
                          class="fas fa-angle-down ms-2"></span></button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                          <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                      </ul>
                    </div><button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0">More filters </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
              <div class="table-responsive scrollbar mx-n1 px-1">



                <table class="table table-sm fs--1 mb-0">
                  <thead>
                    <tr>
                      <th class="white-space-nowrap fs--1 align-middle ps-0" style="width:26px;">
                        <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox" /></div>
                      </th>
                      <th class="sort white-space-nowrap align-middle pe-3" scope="col" data-sort="order"
                        style="width:5%;">ORDER</th>
                      <th class="sort align-middle text-end" scope="col" data-sort="total" style="width:15%;">TOTAL</th>
                      <th class="sort align-middle ps-8" scope="col" data-sort="customer" style="width:28%;">CUSTOMER
                      </th>
                      <th class="sort align-middle pe-3" scope="col" data-sort="payment_status" style="width:20%;">
                        PAYMENT STATUS</th>
                      <th class="sort align-middle pe-3" scope="col" data-sort="payment_status" style="width:20%;">
                        ORDER STATUS</th>


                      <th class="sort align-middle text-start" scope="col" data-sort="delivery_type" style="width:20%;">
                        DELIVERY TYPE</th>
                      <th class="sort align-middle text-end pe-0" scope="col" data-sort="date">DATE</th>
                      <th class="sort align-middle text-end pe-0" scope="col"></th>

                    </tr>
                  </thead>



                  <tbody class="list" id="table-latest-review-body">
                    {{#each orders}}
                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                      <td class="fs--1 align-middle px-0 py-3">
                        <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox" /></div>
                      </td>
                      <td class="order align-middle white-space-nowrap py-0"><a class="fw-semi-bold"
                          href="#!">{{this._id}}</a></td>
                      <td class="total align-middle text-end fw-semi-bold">${{this.GrandTotal}}</td>
                      <td class="customer align-middle white-space-nowrap ps-8"><a class="d-flex align-items-center"
                          href="#!">
                          <div class="avatar avatar-m"><img class="rounded-circle" src="../admin/assets/img/team/32.png"
                              alt="" /></div>
                          <h6 class="mb-0 ms-3 text-900">Rishad</h6>
                        </a></td>


                      {{!-- =================================================== --}}
                      {{!-- ================================== PAYMENT STATUS --}}
                      {{#compareStrings this.paymentStatus 'fulfilled'}}
                      <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
                          class="badge badge-phoenix fs--2 badge-phoenix-success"><span
                            class="badge-label">fulfilled</span><span class="ms-1" data-feather="check"
                            style="height:12.8px;width:12.8px;"></span></span></td>
                      {{/compareStrings}}
                      
                      {{#compareStrings this.paymentStatus 'refunded'}}
                      <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
                          class="badge badge-phoenix fs--2 badge-phoenix-success"><span
                            class="badge-label">Refunded</span><span class="ms-1" data-feather="check"
                            style="height:12.8px;width:12.8px;"></span></span></td>
                      {{/compareStrings}}

                      {{#compareStrings this.paymentStatus 'pending'}}
                      <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
                          class="badge badge-phoenix fs--2 badge-phoenix-warning"><span
                            class="badge-label">Pending</span><span class="ms-1" data-feather="clock"
                            style="height:12.8px;width:12.8px;"></span></span></td>
                      {{/compareStrings}}

                      {{#compareStrings this.paymentStatus 'failed'}}
                      <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
                          class="badge badge-phoenix fs--2 badge-phoenix-danger"><span
                            class="badge-label">Failed</span><span class="ms-1" data-feather="x"
                            style="height:12.8px;width:12.8px;"></span></span>
                      </td>
                      {{/compareStrings}}

                      {{!-- .....................order statuses....................... --}}
                      {{#compareStrings this.products.orderStatus 'delivered'}}
                      <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
                          class="badge badge-phoenix fs--2 badge-phoenix-success"><span
                            class="badge-label">{{this.products.orderStatus}}</span><span class="ms-1"
                            data-feather="check" style="height:12.8px;width:12.8px;"></span></span></td>
                      {{/compareStrings}}

                      {{#compareStrings this.products.orderStatus 'created'}}
                      <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
                          class="badge badge-phoenix fs--2 badge-phoenix-warning"><span
                            class="badge-label">{{this.products.orderStatus}}</span><span class="ms-1"
                            data-feather="clock" style="height:12.8px;width:12.8px;"></span></span></td>
                      {{/compareStrings}}

                      {{#compareStrings this.products.orderStatus 'placed'}}
                      <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
                          class="badge badge-phoenix fs--2 badge-phoenix-warning"><span
                            class="badge-label">{{this.products.orderStatus}}</span><span class="ms-1"
                            data-feather="clock" style="height:12.8px;width:12.8px;"></span></span></td>
                      {{/compareStrings}}

                      {{#compareStrings this.products.orderStatus 'pending'}}
                      <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
                          class="badge badge-phoenix fs--2 badge-phoenix-warning"><span
                            class="badge-label">{{this.products.orderStatus}}</span><span class="ms-1"
                            data-feather="clock" style="height:12.8px;width:12.8px;"></span></span></td>
                      {{/compareStrings}}

                      {{#compareStrings this.products.orderStatus 'shipped'}}
                      <td class="fulfilment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
                          class="badge badge-phoenix fs--2 badge-phoenix-info"><span class="badge-label">{{this.products.orderStatus}}</span><span class="ms-1" data-feather="info"
                            style="height:12.8px;width:12.8px;"></span></span></td>
                      {{/compareStrings}} 

                      {{#compareStrings this.products.orderStatus 'canceled'}}
                      <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
                          class="badge badge-phoenix fs--2 badge-phoenix-danger"><span
                            class="badge-label">{{this.products.orderStatus}}</span><span class="ms-1" data-feather="x"
                            style="height:12.8px;width:12.8px;"></span></span>
                      </td>
                      {{/compareStrings}}
                      {{#compareStrings this.products.orderStatus 'returned'}} 
                      <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
                          class="badge badge-phoenix fs--2 badge-phoenix-danger"><span
                            class="badge-label">{{this.products.orderStatus}}</span><span class="ms-1" data-feather="x"
                            style="height:12.8px;width:12.8px;"></span></span>
                      </td>
                      {{/compareStrings}}



                      <td class="delivery_type align-middle white-space-nowrap text-900 fs--1 text-start">
                        {{this.paymentMethod}}</td>
                      <td class="date align-middle white-space-nowrap text-700 fs--1 ps-4 text-end">{{formatString
                        this.createdAt}}</td>

                      <th class="sort align-middle text-end pe-0" scope="col"><a href="/admin/orderStatus/{{this._id}}/{{this.products.productId}}"
                          class="btn btn-success">
                          View Details</a></th>


                    </tr>


                    {{/each}}


                  </tbody>
                </table>
              </div>
              <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                <div class="col-auto d-flex">
                  <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a
                    class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1"
                      data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!"
                    data-list-view="less">View Less<span class="fas fa-angle-right ms-1"
                      data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex"><button class="page-link" data-list-pagination="prev"><span
                      class="fas fa-chevron-left"></span></button>
                  <ul class="mb-0 pagination"></ul><button class="page-link" data-list-pagination="next"><span
                      class="fas fa-chevron-right"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer position-absolute">
          <div class="row g-0 justify-content-between align-items-center h-100 mb-3">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span
                  class="d-none d-sm-inline-block"></span><span class="mx-1">|</span><br class="d-sm-none" />2022 &copy;
                <a href="https://themewagon.com">Themewagon</a>
              </p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">v1.2.0</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </main><!-- ===============================================-->

  {{!-- succesfull --}}
  {{!-- <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700">
    <span class="badge badge-phoenix fs--2 badge-phoenix-success"><span class="badge-label">Complete</span><span
        class="ms-1" data-feather="check" style="height:12.8px;width:12.8px;"></span></span>
  </td> --}}

  {{!-- cancelled --}}
  {{!-- <td class="fulfilment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
      class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span class="badge-label">Cancelled</span>
      <span class="ms-1" data-feather="x" style="height:12.8px;width:12.8px;"></span></span></td> --}}

  {{!-- ready to pickup --}}
  {{!-- <td class="fulfilment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
      class="badge badge-phoenix fs--2 badge-phoenix-info"><span class="badge-label">Ready to pickup</span><span
        class="ms-1" data-feather="info" style="height:12.8px;width:12.8px;"></span></span></td> --}}

  {{!-- pending --}}
  {{!-- <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
      class="badge badge-phoenix fs--2 badge-phoenix-warning"><span class="badge-label">Pending</span><span class="ms-1"
        data-feather="clock" style="height:12.8px;width:12.8px;"></span></span></td> --}}

  {{!-- completed --}}
  {{!-- <td class="fulfilment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
      class="badge badge-phoenix fs--2 badge-phoenix-success"><span class="badge-label">Completed</span><span
        class="ms-1" data-feather="check" style="height:12.8px;width:12.8px;"></span></span></td> --}}

  {{!-- Failed --}}
  {{!-- <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
      class="badge badge-phoenix fs--2 badge-phoenix-danger"><span class="badge-label">Failed</span><span class="ms-1"
        data-feather="x" style="height:12.8px;width:12.8px;"></span></span></td> --}}

  {{!-- paid --}}
  {{!-- <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-700"><span
      class="badge badge-phoenix fs--2 badge-phoenix-success"><span class="badge-label">Paid</span><span class="ms-1"
        data-feather="check" style="height:12.8px;width:12.8px;"></span></span></td> --}}








  <!--    End of Main Content-->
  <!-- ===============================================-->



  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="../admin/vendors/popper/popper.min.js"></script>
  <script src="../admin/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../admin/vendors/anchorjs/anchor.min.js"></script>
  <script src="../admin/vendors/is/is.min.js"></script>
  <script src="../admin/vendors/fontawesome/all.min.js"></script>
  <script src="../admin/vendors/lodash/lodash.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="../admin/vendors/list.js/list.min.js"></script>
  <script src="../admin/vendors/feather-icons/feather.min.js"></script>
  <script src="../admin/vendors/dayjs/dayjs.min.js"></script>
  <script src="../admin/assets/js/phoenix.js"></script>
</body>

</html>